<!DOCTYPE html>
<html>

<head>
    {% load static %}
<link rel="icon" href="{% static 'favicon.png' %}" type="image/png">
	<link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="img/x-icon">

	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<link
		href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,800italic,700italic,600italic,400italic,300italic,800,700,600'
		rel='stylesheet' type='text/css'>
</head>

<body>
    <div class="container">
        <figure class="logo animated fadeInDown delay-07s">
            <a href="#"><img src="{% static 'img/logo.png' %}" alt=""></a>
        </figure>
        <h1 class="animated fadeInDown delay-07s">Welcome To Branding section</h1>
    </div>
</body>

</html>